
{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}


<div class="galeria1">
    <div>
            <div class = "galeria">
                    <a data-fancybox="gallery" href="{% static 'core/img/Rescatados/Bigotes.jpg' %}"> <img src="{% static 'core/img/Rescatados/Bigotes.jpg' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'core/img/Rescatados/Chocolate.jpg' %}"> <img src="{% static 'core/img/Rescatados/Chocolate.jpg' %}"></a>                   
                    <a data-fancybox="gallery" href="{% static 'core/img/Rescatados/Luna.jpg' %}"><img src="{% static 'core/img/Rescatados/Luna.jpg' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'core/img/Rescatados/Maya.jpg' %}"> <img src="{% static 'core/img/Rescatados/Maya.jpg' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'core/img/Rescatados/Oso.jpg' %}"> <img src="{% static 'core/img/Rescatados/Oso.jpg' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'core/img/Rescatados/Pexel.jpg' %}"> <img src="{% static 'core/img/Rescatados/Pexel.jpg' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'core/img/Rescatados/Wifi.jpg' %}"> <img src="{% static 'core/img/Rescatados/Wifi.jpg' %}"></a>
                    <a data-fancybox="gallery" href="{% static 'core/img/Rescatados/perrochico.jpg' %}"> <img src="{% static 'core/img/Rescatados/perrochico.jpg' %}"></a>
            </div>
    </div>
</div>

<footer>
        <br>
        <h3 class="color_blanco centrar_texto">Desarrollo Web y Mobile</h3>
</footer>
</body>
</html>

{% endblock contenido %}