
{% extends 'core/base.html' %}
{% load static %}


    {% block contenido %}
    <div class="slider">
        <div>
                <img title="felices de poder rescatar este hermoso cachorro" class="landing_img" src="{% static 'core/img/perro.png' %}" alt="perro">
        </div>
        <div>
                <img title="Comparta la felicidad con este cachorro" class="landing_img" src="{% static 'core/img/Adoptados/Apolo.jpg' %}" alt="perro apolo">
        </div>
        <div>
                <img title="Su nombre tan lindo como su apariencia" class="landing_img" src="{% static 'core/img/Adoptados/Duque.jpg' %}" alt="perro duque">
        </div>
        <div>
                <img title="Pareciera que tuviera nombre de gato pero es un lindo perrito" class="landing_img" src="{% static 'core/img/Adoptados/Tom.jpg' %}" alt="perro Tom">
        </div>
    </div>
        <div class="seccionA">
                <h1 class="titulo">Rescate </h1>
                <h5 class="subtit">Etapa uno </h5>
            
                <br>
            
                <hr class="hr">
            
                <br>
            
                <h5 class="text1"> Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los </h5>
                <h5 class="text2"> Preparamos para buscarles un hogar.</h5>
            
                <br>
            
                <div class="fotor"><img src="{% static 'core/img/rescate.jpg' %}" alt="perro"> </div>
                <div class="fotoc"> <img src="{% static 'core/img/crowfunding.jpg' %}" alt="comida"> </div>
            
            </div>
            
            <div class="seccionB">
                <h1 class="titulo2">Crowfunding </h1>
            
                <h5 class="subtit2">Financiamento</h5>
                <br>
                <hr class="hr2">
                <br>
                <h5 class="text10 "> Sigue nuestras redes sociales para informarte acerca de las diversas campañas y </h5>
                <h5 class="text11 "> actividades que realizamos para obtener finaciamento para seguir ayudando. </h5>
                <br>
            </div>
                <span class="boton" style= "border-image: initial;border: 3px solid black;width: auto; padding: auto;" >Campañas</span>
            <br>
            <br>
            <br>
{% endblock contenido %}
    

    